@import "normalize";

body {
    background: #333;
    color: #fff;
    font-weight: bold;
    font-family: "Helvetica Neue";
    font-size: 20px;
    line-height: 1.4;
}

.wrap {
    background: #fff;
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    background: #23282b;
    margin-bottom: -50px;
    clip-path: polygon(0px 100%, 100% 90%, 100% 0, 0 0);
    -webkit-clip-path: polygon(0px 100%, 100% 90%, 100% 0, 0 0);
    position: relative;
    z-index: 10;
    .content {
        padding: 30px;
    }
}

.frontdoor {
    background: white;
    clip-path: polygon(0px 90%, 100% 100%, 100% 0, 0 0);
    -webkit-clip-path: polygon(0px 90%, 100% 100%, 100% 0, 0 0);
    position: relative;
    z-index: 9;
    margin-bottom: -50px;
}

.apprentice, .employer {
    display: inline-block;
    width: 50%;
    .content {
        padding: 150px 30px 150px;
    }
}

.apprentice {
    background: #3079f6;
}

.employer {
    background: #f5bb41;
}



.hero2 {
    background: #5e6165;
    min-height: 500px;
    clip-path: polygon(0px 100%, 100% 90%, 100% 0, 0 0);
    -webkit-clip-path: polygon(0px 100%, 100% 90%, 100% 0, 0 0);
    position: relative;
    z-index: 8;
    .content {
        padding: 80px 30px 30px;
    }
}